Repository googleapis/java-dialogflow, pull requests merged in 2021-09, with the labels that each got.

#685 build(java): update renovate config to mark conformance tests as a test commit type
  renovate.json
  synth.metadata
Labels: cla: yes, api: dialogflow, automerge, context: full

#686 docs: clarified some LRO types
  google-cloud-dialogflow/src/main/java/com/google/cloud/dialogflow/v2/AgentsClient.java
  google-cloud-dialogflow/src/main/java/com/google/cloud/dialogflow/v2/DocumentsClient.java
  google-cloud-dialogflow/src/main/java/com/google/cloud/dialogflow/v2/EntityTypesClient.java
  google-cloud-dialogflow/src/main/java/com/google/cloud/dialogflow/v2/IntentsClient.java
  google-cloud-dialogflow/src/main/java/com/google/cloud/dialogflow/v2/package-info.java
  grpc-google-cloud-dialogflow-v2/src/main/java/com/google/cloud/dialogflow/v2/AgentsGrpc.java
  grpc-google-cloud-dialogflow-v2/src/main/java/com/google/cloud/dialogflow/v2/DocumentsGrpc.java
  grpc-google-cloud-dialogflow-v2/src/main/java/com/google/cloud/dialogflow/v2/EntityTypesGrpc.java
  grpc-google-cloud-dialogflow-v2/src/main/java/com/google/cloud/dialogflow/v2/IntentsGrpc.java
  proto-google-cloud-dialogflow-v2/src/main/java/com/google/cloud/dialogflow/v2/AudioConfigProto.java
  proto-google-cloud-dialogflow-v2/src/main/proto/google/cloud/dialogflow/v2/agent.proto
  proto-google-cloud-dialogflow-v2/src/main/proto/google/cloud/dialogflow/v2/audio_config.proto
  proto-google-cloud-dialogflow-v2/src/main/proto/google/cloud/dialogflow/v2/document.proto
  proto-google-cloud-dialogflow-v2/src/main/proto/google/cloud/dialogflow/v2/entity_type.proto
  proto-google-cloud-dialogflow-v2/src/main/proto/google/cloud/dialogflow/v2/intent.proto
  synth.metadata
Labels: cla: yes, api: dialogflow, context: full

#699 chore: fix integration test
  google-cloud-dialogflow/src/test/java/com/google/cloud/dialogflow/v2/it/ITSystemTest.java
Labels: cla: yes, api: dialogflow

#698 chore: remove readme autosynth config
  .github/readme/synth.metadata/synth.metadata
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: cla: yes, api: dialogflow, automerge

#715 chore: remove dependency dashboard labels
  .github/trusted-contribution.yml
  .kokoro/release/common.sh
  .kokoro/release/drop.sh
  .kokoro/release/promote.sh
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/publish_javadoc11.sh
  .kokoro/release/stage.sh
  .kokoro/trampoline.sh
  README.md
  samples/snippets/src/test/dialogflow/SetAgentIT.java
Labels: cla: yes, api: dialogflow, automerge, owlbot:ignore

#716 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: cla: yes, api: dialogflow, owlbot:ignore

#720 chore: remove dependencyDashboardLabels from renovate.json
  renovate.json
Labels: cla: yes, api: dialogflow, automerge, owlbot:ignore

#726 chore: make owlbot check required
  .github/sync-repo-settings.yaml
Labels: cla: yes, api: dialogflow, automerge

#735 chore: change branch master to main in github configurations
  .github/sync-repo-settings.yaml
Labels: cla: yes, api: dialogflow, automerge

#730 samples: add webhook sample
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
  samples/snippets/src/main/dialogflow/Example.java
  samples/snippets/src/test/dialogflow/ExampleIT.java
  samples/snippets/src/test/dialogflow/SetAgentIT.java
Labels: cla: yes, api: dialogflow, samples
